<div class="inv-plus-dialog">
    {{!-- 
    <p>{{msg}}</p>
    <ul>
        <li>{{localize "inventory-plus.inv-plus-dialog.removedefaulcategorieswarnmessage1"}}</li>
        <li>{{localize "inventory-plus.inv-plus-dialog.removedefaulcategorieswarnmessage2"}}</li>
        <li>{{localize "inventory-plus.inv-plus-dialog.removedefaulcategorieswarnmessage3"}}</li>
    </ul> 
    --}}
    {{!-- <p>{{localize "inventory-plus.inv-plus-dialog.confirmationdeletecategory"}}</p> --}}
    {{!-- <p>{{localize "inventory-plus.inv-plus-dialog.removedefaulcategorieswarnmessage2"}}</p> --}}
    <p>{{msgDeleteCategory}}</p>    
    <p>{{msgBackupActor}}</p>
</div>
